<div class="input-group mb-3">
    <input [(ngModel)]="filtreText" type="text" (ngModelChange)="onInputChange()" class="form-control" placeholder="Filtrele" aria-label="Recipient's username" aria-describedby="button-addon2">
</div>
<small class="text-muted" *ngIf="filtreText">Aradığınız kelime: {{filtreText}}</small>
<div class="movies">
    <ul class="p-0">
        <li *ngFor=" let item of onInputChange(); let i=index;">
            <!-- <div class=" card mb-3" *ngIf='item.categories == "horror"'> -->
            <div class="card mb-3">
                <div class="row g-0 ">
                    <div class="col-md-4 ">
                        <img src="{{ item.images }} " class="img-fluid rounded-start " alt=" {{ item.images }} ">
                    </div>
                    <div class="col-md-8 ">

                        <div class="card-body ">
                            <h5 class="card-title ">{{ item.name }}</h5>
                            <!-- max 30 karakter -->
                            <p class="card-text ">{{ item.description | summary: 30}}</p>
                            <button type="button" class="btn btn-outline-secondary ">Detaylı bilgi</button>
                            <button type="button" (click)="addToList($event, item)" class="btn btn-outline-secondary ">Listeye Ekle</button>
                            <!-- <p class="card-text mt-3 ">{{ item.categories }}</p> -->
                            <!-- <p class="mt-2 text-secondary">{{today | date}}</p> -->
                        </div>
                        <!-- <p>{{ today }}</p> -->

                        <!-- <p>{{today | date: 'fulldate'}}</p> -->
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>