@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/alertifyjs/build/css/alertify.min.css";
@import "../node_modules/alertifyjs/build/css/themes/bootstrap.min.css";
$font-family: Helvetica;
$primary-color: #e9e9e9;
body {
    //@extend .mt-3;
    font: 100% $font-family;
    background-color: $primary-color
}